/dependency/*
!/dependency/include/
!/dependency/lib/
!/dependency/src/
/dependency/include/*
/dependency/lib/*
/dependency/src/*
!/dependency/include/imconfig.h

x64/Debug
Debug

.vs
.vscode

engine/build
engine/out
engine/.vs
